.single-absence {

    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    width: 300px;
  
    p {
      margin: 5px 0;
    }
  

}

.non-justifiee {
    color: red; // Style pour une absence non justifiée
}